@font-face {
    font-family: 'kionaitalic';
    src: url('kiona-itallic-webfont.woff2') format('woff2'),
         url('kiona-itallic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kionaregular';
    src: url('kiona-regular-webfont.woff2') format('woff2'),
         url('kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* mobiles first*/

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}


#menu-dropdown {
    position: fixed;
    width: 500px;
    max-width: 100%;
    height: 435px;
    top: -435px;
    background: #151719;
    transition: all 700ms ease-out;
}

#menu-dropdown.active {
    top:0px;
}

#menu-dropdown ul {
    margin-top: 110px;
}

#menu-dropdown ul li {
    text-align: center;
    margin: 40px 28% ;
    padding-bottom: 3px;
    border-bottom:  1px solid rgba(100,100,100, 0.5);
    list-style: none;
}

#menu-dropdown ul li a {
    color: rgba(230,230,230,0.9);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: kionaregular, work sans, Ariel, sans, sans-serif;
    font-weight: 700;
}

.topnav {
    position: fixed;
    top: 0;
    width: 500px;
    height: 90px;
    background: #151719;
    z-index: 0;
}

#logo {
    position: fixed;
    top: 0;
    width: 500px;
    max-width: 230px;
}


.toggle-btn {
    position: fixed;
    right: 35px;
    top: 25px;
    z-index: 3;
}

.toggle-btn  span {
    display: block;
    width: 33px;
    height: 3px;
    background: rgba(230,230,230,0.9);
    margin: 7px 0px;
    z-index: 100;
}


/* Styling mobile version */


section h1, h2, h3 {
    font-family: kionaregular, work sans, Ariel, sans, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

section h1 {
    margin: 50px 0 30px 0;
}

section h3 {
    margin: 20px 0;
}

section img{
    width: 600px;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

section p {
    display: block;
    margin: auto;
    max-width: 85%;
    font-family: Work sans, Ariel, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;

}


#allTheWayUp img {
    max-width: 100%;
    margin-top: 90px;
}

#arrow-portfolio {
    max-width: 10%;
    display: block;
    margin: auto;
}

.seeMore h3 {
    margin: 0;
}

#contacts h1 {
    margin-bottom: 0;
}

#container-contacts {
    display: inherit;
    position: relative;

}

#contact-box {
    position: absolute;
    top: 20px;
    width: 30em;
    max-width: 60%;
}

#contact-box p {
    background: rgba(0,0,0,0.7);
    border-radius: 3px;
    padding: 3px;
    color: rgba(230,230,230,0.95);
    width: 100%;
}

#container-contacts img {
    margin-bottom: 0;
    display: block;
}

footer {
    background: #151719;
    color: rgba(230,230,230,0.8);
    padding: 20px;
}

footer p {
    text-align: center;
}

#allTheWayUp video {
    max-width: 100%;
    width: 100%;
}


/**** Magic goes here /json/ - hopefully! *********/
.service {
    border: 1px solid black;
}



/****** SCREEN SIZE ********/

@media only screen and (min-width: 450px) {
   #menu-dropdown {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 53px;
    background: #151719;
    top: 0;
    z-index: 100;
}

    .nav-links {
        max-width: 70%;
        width: 2000px;
        position: fixed;
        right: 0;
    }

 #menu-dropdown.active {
    top:0px;
}

#menu-dropdown ul {
    margin-top: 0;
    position: fixed;
}

#menu-dropdown ul li {
    max-width: 20%;
    margin: 1.9% 5%;
    padding-bottom: 0;
    border-bottom:  0;
    display:  inline;
    float: left;
    z-index: 20;

}

#menu-dropdown ul li a {
    font-size: 1.1em;
    font-weight: 100;
}

.topnav {
    position: fixed;
    top: 0;
    width: 0;
    height: 90px;
    background: #151719;
    z-index: 0;
}

#logo {
    position: fixed;
    top: -3px;
    left: 80px;
    max-width: 150px;
    z-index: 50;
}


.toggle-btn {
    display: none;
    position: fixed;
    right: 35px;
    top: 25px;
    z-index: 3;
}

.toggle-btn  span {
    display: block;
    width: 33px;
    height: 3px;
    background: rgba(230,230,230,0.9);
    margin: 7px 0px;
    z-index: 100;
}

    #contact-box {
    max-width: 40%;
    top: 60px;
}

    #contact-box p {
        padding: 0.5em;
        font-size: 1.1em;
    }

}



